.carousel-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2rem;

	.left-arrow,
	.right-arrow {
		cursor: pointer;
		font-size: 2rem;
	}
}

.post-carousel {
	height: 200px;
	display: flex;
	overflow-x: auto;
	scroll-behavior: smooth;
	scrollbar-width: none;
	gap: 7px;

	.media-wrapper {
		flex: 1 0 33%;
		height: 100%;
		border-radius: 5px;
		overflow: hidden;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
}
